{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SchoolRoom</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'detail/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />

  <!-- Custom styles for this template -->
  <link href="{% static 'detail/css/shop-item.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg fixed-top" style="background-color: #F7EB37;">
    <div class="container">
      <a class="navbar-brand" href="/main">SchoolRoom</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><img src="https://trello-attachments.s3.amazonaws.com/5c65db272c5b5388ffd98044/163x163/3d27b76db47696afd4d379c4436d517d/%EC%84%9D%EC%82%BC%EC%9E%90-02.png" width="30px" alt=""></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">내정보</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">예약관리
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">이벤트</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">앱설정</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">로그아웃</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <div class="row">
      <div class="col-lg-9">
      <h1 class="my-4">{{name}}</h1>
        <div class="card mt-4">
          <img class="card-img-top img-fluid" src="http://www.teachhub.com/sites/default/files/field/image/classroom-management-effective-learning-environment.jpg" alt="">
          <div class="card-body">
            <h3 class="card-title">교실이름</h3>
            <hr>
            <h3>가격</h3>
            <br>
            <h4>2000₩/1시간</h4>
            <hr>
            <h3 class="card-title">대여시간 설정</h3>
            <br>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                이용시간을 골라주세요.
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/payment/{{name}}/13:00 ~ 15:00/8000/">13:00 ~ 15:00</a>
                <a class="dropdown-item" href="/payment/{{name}}/15:00 ~ 17:00/8000/">15:00 ~ 17:00</a>
                <a class="dropdown-item" href="/payment/{{name}}/17:00 ~ 19:00/8000/">17:00 ~ 19:00</a>
                <a class="dropdown-item" href="/payment/{{name}}/19:00 ~ 20:00/4000/">19:00 ~ 20:00</a>
              </div>
            </div>
          <hr>
            <p class="card-text">간단한 설명</p>
          </div>
        </div>
        <!-- /.card -->

        <div class="card card-outline-secondary my-4">
          <div class="card-header">
            사용 후기
          </div>
          <div class="card-body">
            <p>10명이었는데 사용하기 너무 쾌적했어요!</p>
            <small class="text-muted">Posted by Anonymous on 2/1/19</small>
            <hr>
            <a href="#" class="btn btn-success">후기 남기기</a>
          </div>
        </div>
        <!-- /.card -->

      </div>
      <!-- /.col-lg-9 -->

    </div>

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'detail/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'detail/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>

</body>

</html>
