{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SchoolRoom</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://trello-attachments.s3.amazonaws.com/5c6400a633dc548d36f17e4f/5c65d741a20c724350ed5ef2/5f3ea792db83bb93666f08d7c556fc9a/login.css">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg fixed-top" style="background-color: #F7EB37;">
    <div class="container">
    <a class="navbar-brand" href="/main">SchoolRoom</a>
      <img src="">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><img src="https://trello-attachments.s3.amazonaws.com/5c65db272c5b5388ffd98044/163x163/3d27b76db47696afd4d379c4436d517d/%EC%84%9D%EC%82%BC%EC%9E%90-02.png" width="30px" alt=""></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">내정보</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">예약관리
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">이벤트</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">앱설정</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">로그아웃</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="paymentTitle">
    <h1>결제</h1>
    <div id="carouselExampleControls" class="carousel slide" data-ride="" style="background-color: #eae592">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="selectCard shadow-lg p-3 mb-5 bg-white rounded">
            <p class="selectCardFont">신한카드</p>
          </div>
        </div>
        <div class="carousel-item">
          <div class="selectCard shadow-lg p-3 mb-5 bg-white rounded">
            <p class="selectCardFont">우리카드</p>
          </div>
        </div>
        <div class="carousel-item">
          <div class="selectCard shadow-lg p-3 mb-5 bg-white rounded">
            <p class="selectCardFont">국민카드</p>
        </div>
      </div>
    </div>
    <a style="color: black" class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true" ></span>
    </a>
    <a style="color: black" class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </a>
  </div>
  <h3 style="margin-top: 30px">{{name}}</h3>
  <h3 style="margin-top: 30px">{{time}}</h3>
    <h3 style="margin-top: 30px">{{price}}원</h3>
    <h5 class="confirmBtn"><a href="/payment_done">결제하기</a></h5>
  </div>
  
  <!-- Bootstrap core JavaScript -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>
